.adx-hero {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  text-align: center;
  z-index: -1;
}

.adx-hero__content__logo {
  margin: 20px 0;
}
